*{
    
}

body{
    display: flex;
    border: red solid 2px;
}

.imgLogoContainer{
    border: red solid 2px;
    height: 900px;
    width: 40%;
}

.logoContainer{
    margin-top: 200px;
    height: 175px;
    border: red solid 2px;
}

.textContainer{
    display: flex;
    flex-direction: column;
    border: red solid 2px;
    width: 100%;
}
div h1{ 
    padding-top: 20px;
}
.description{
    background-color: aqua;
    border: red solid 2px;
    height: 25%;
    padding-left: 30px;
    padding-right: 30px;
   
}

form{
    display: flex;
    padding: 20px;
}
ol{
    list-style: none;
}
li{
    margin: 20px;


}


.fieldset h1{
    padding-left: 20px;
}

.fieldset{
    border: red solid 2px;
    height: 50%;

}
.fieldset fieldset{ 
    padding: 20px;
}


.createAccountLogin{
    border: red solid 2px;
    height: 25%;
}
