@import url('@import url= "https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*{
    font-family:inter;


    
}

html, body {margin: 0; height: 100%; overflow: hidden}

body{
    display: flex;
    height: 100vh;

}
#imgElement h1{
    height: unset;
    color: #3867cd;
    font-weight: 700;
    font-size: 2.25rem;
    margin-left: 2.5%;
    letter-spacing: -2.5px;
}

#imgElement{
    width: 40%;
    background-color: #ffffff;
}

#imgElement img{
    width: 100%;
}
#formElement{
    display: flex;
    flex-direction: column;  
    align-items: stretch;
    width: 60%;
   
}
#textContainer{
    background-color:#407bff;
    height: 100vh;
    width: 100%;
}

#textContainer h1{
    font-size: 45px;
    font-weight: 600;
    padding-left: 5%;
    padding-top: 20vh;
    color: #ffffff;
    

}
form{
    margin-top: 50px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content:baseline;
    margin-top: 30px;
}
input{
    height: 30px;
    width: 345px;
    border-radius: 4px;
    border: 0px;
    border-bottom: 4px #294fa4;
}

.row div{
    margin: 2%;
    margin-left: 5%;
}
span{
    color: #294fa4;
    transition: all .4s;
    position: absolute;
    text-transform:uppercase;
    padding-top: .6vh;
    padding-left: .3vw;
    left:0;
    top: 0;
    pointer-events: none;
}

.inputContainer{
    position: relative;
}


#footer{
    display: flex;
    justify-content: space-between;
    bottom: 0px;

}

#buttonContainer{
    display: flex;
    flex-direction: column;

    bottom: 12em;
    padding-left: 1.5vw;
    margin: 30px;
    margin-bottom: 50px;
}

button{
    height: 60px;
    width: 200px;
    background-color:#ffffff;
    color: #294fa4;
    border-radius: 8px;
    border: none;
    font-size: 1.15em;
}

a{
    padding-top:5px ;
    color:#ffffff;
    font-weight: 500;
    padding-left: 2px;
    border-bottom:none ;
    text-decoration: none;

}


#qrContainer > img{
    position: absolute;
    padding: 10px;
    right: 10px;
    bottom: 10px;
    
}

#qrContainer > img{
    height: 7vh;
}


input:focus,
input:valid{
    font-size: 20px;
    color: #294fa4;
    height: 30px;
    width: 345px;
    transition: all .4s;
    outline: none
;
}

input:focus{
border: 3px solid #3f5ea7;
}
input:focus ~span{
right: 0;
transform: translateY(-2em);
color: #ffffff;
}
input:valid{
    border: none;
    transition: all 1s;
}
input:valid ~span{
    transform: translateY(-2em);
}


button:focus{
    background-color: #7ba4fa;
    transition: all .1s;
    outline:none;
}
button:hover{
    cursor: pointer;
}


